<?xml version="1.0" encoding="utf-8"?>
<settings>
    <!--ogólne-->
    <category label="NFO">
        <setting label="30009" type="bool" id="TryAllURL" default="true"/>
    </category>
    <!--Filmweb-->
    <category label="Filmweb">
        <setting label="30008" type="bool" id="UseOriginalTitle" default="false"/>
        <setting label="30000" type="bool" id="GetPoster" default="true"/>
        <setting label="30003" type="bool" id="GetPlot" default="false"/>
        <setting label="30011" type="bool" id="GetTrailer" default="false"/>
    </category>
    <!--TMDb!-->
    <category label="TMDb">
        <setting label="30013" type="bool" id="GetSets" default="false"/>
        <setting label="30015" type="bool" id="GetMPAA" default="false"/>
        <setting label="30016" type="bool" id="GetStudio" default="false"/>
        <setting label="30017" type="labelenum" values="us" id="tmdbcertcountry" default="us" visible="hide"/>
        <setting label="30001" type="bool" id="EnableFullCast" default="false"/>
    </category>
    <!--Grafika-->
    <category label="IMDB">
        <setting label="30002" type="bool" id="GetIMDBRatings" default="false"/>
        <setting label="30014" type="bool" id="GetIMDBDetails" default="false"/>
    </category>
</settings>